* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b2e;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
a {
    text-decoration: none;
}
input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    display: inline-block;
    min-width: 130px;
    --height: 56px;
    height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);

    color: rgba(0, 9, 88, 1);
    line-height: var(--height);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
}
.btn--primary {
    color: #fff !important;
    background: var(--primary-color);
    border-color: var(--primary-color);
}
.section-heading {
    color: #000958;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.19;
}
.section-desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.875;
}

/* Header */
.header {
    padding: 26px 0px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
    display: flex;
}
.header__action__link,
.navbar__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    transition: text-shadow 1s;
}
.navbar__link:hover {
    color: #000958;
    text-shadow: 0.5px 0 0 currentColor;
}
.header__action__btn {
    --height: 50px;
    min-width: 117px;
}

/* Hero */
.hero {
    margin-top: 74px;
}
.hero__inner {
    display: flex;
    align-items: center;
    gap: 120px;
}
/* Hero media */
.hero__media {
    position: relative;
    padding-bottom: 94px;
    display: flex;
}
.hero__wrap-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    border-radius: 16px;
    background: #fe997b;
}
.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-left {
    left: -58px;
    bottom: 10px;
}
.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__wrap-img-small {
    align-self: flex-end;
    margin: 0 0 -58px -24px;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border: 2px solid #fde0e2;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0px;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero-list-item {
    display: flex;
    gap: 10px;
}
.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
}
.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #c6e2fa;
}
.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.hero-list-item__separate {
    display: block;
    margin: 20px 0px;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}

/* hero content */
.hero__heading {
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}
.hero__desc {
    margin-top: 24px;
    width: 391px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88; /* 187.5% */
}
.hero__row {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 38px;
}
.hero__cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    --height: 60px;
    min-width: 190px;
    border: none;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);

    color: #fff;
    font-size: 1.6rem;
}
.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}
.hero__cta-link {
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}

/* About */
.about {
    margin-top: 77px;
    padding: 53px 0px;
}
.about__inner {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}
/* about content */
.about__label {
    font-family: Sora, "san-serif";
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}
.about__heading {
    margin-top: 15px;
    width: 444px;
}
.about__desc {
    margin-top: 24px;
    width: 444px;
}
.about__check-list {
    display: grid;
    /* flex bug nhiều */
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
    margin-top: 54px;
    width: 477px;
}
.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;

    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
}
.about__check-item::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__check-item::after {
    content: url(../icon/check.svg);
    position: absolute;
    top: 0px;
    left: 5px;
}

/* about media */
.about__media {
    position: relative;
}
.about__wrap-img {
    position: relative;
    /* display: flex;
    justify-content: center; */
    width: 494px;
    /* Khối chứa image, chiều cao ko cần để cứng
       tự tăng giảm theo nội dung bên trong */
    /* height: 559px; */
    border-radius: 16px;
}
.about__wrap-img::after {
    content: "";
    display: block;
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}
.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 550px;
    object-fit: cover;
    object-position: 40px 0px;
}

.about__card {
    position: absolute;
    top: 165px;
    left: -92px;
    padding: 30px 26px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
}
.about__card-title {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}
.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
}
.about__card-decor {
    position: absolute;
    top: -40px;
    right: -30px;
}

.about__decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

/* Feature */
.feature {
    margin-top: 77px;
}
.feature__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.feature__wrap-img {
    position: relative;
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.feature__img {
    display: block;
    width: 458px;
    height: 500px;
    object-fit: cover;
}
.feature__decor-img {
    position: absolute;
}
.feature__decor-img:nth-child(1) {
    top: 12px;
    right: 64px;
}
.feature__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}
.feature__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}
.feature__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}
.feature__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}
.feature__decor-img:nth-child(6) {
    bottom: -55px;
    right: -42px;
}

.feature__desc {
    margin-top: 24px;
    width: 510px;
}
.tab {
    margin-top: 52px;
}
.tab__list {
    position: relative;
    display: flex;
    gap: 56px;
    padding-bottom: 10px;
}
.tab__list::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 99px;
    opacity: 0.07;
    background: var(--primary-color);
}
.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.tab__item--active::after {
    position: absolute;
    left: 8px;
    bottom: -10px;
    content: "";
    display: block;
    width: 95px;
    height: 2px;
    background: var(--primary-color);
    border-radius: 99px;
}
.tab__icon {
    width: 20px;
}
.tab__title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.tab__content {
    margin-top: 36px;
}
.tab__content-desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.7;
}
.tab__content-more {
    position: relative;
    margin-top: 32px;
    padding-bottom: 5px;
    display: inline-block;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}
.tab__content-more::after {
    position: absolute;
    left: 0xp;
    bottom: 0px;
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    background: #ff5d31;
}

/* Service */
.service {
    margin-top: 190px;
    padding: 68px 0px 100px;
    background: #fff6ed;
}
.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* align-items: center; */
    column-gap: 65px;
    margin-top: 70px;
}
.service__top {
    text-align: center;
}
.service__desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

.service-item {
    padding: 30px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}
.service-item + .service-item {
    margin-top: 24px;
}
.service-item__heading {
    position: relative;
    padding-left: 10px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.service-item__heading::before {
    position: absolute;
    top: 2px;
    left: 0px;
    content: "";
    display: block;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 99px;
}
.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.service-item__more {
    position: relative;
    margin-top: 24px;
    display: inline-block;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    line-height: 1; /* 100% */
}
.service-item__more::after {
    position: absolute;
    top: 0px;
    right: -18px;
    content: url(../icon/arrow-up-right.svg);
    display: block;
}
.service__media {
    position: relative;
    /* width: 447px; */
    margin-top: 17px;
    border-radius: 10px;
}
.service__media::after {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0px;
    margin: 0px auto;
    content: "";
    display: block;
    /* width: 410px; */
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.service__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
}
.service__wrap-btn {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.service__btn {
    min-width: 214px;
    border-color: var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);

    font-size: 1.6rem;
    font-weight: 500;
    color: #ff5b2e;
}

/* Staff */
.staff {
    margin-top: 130px;
}
.staff__top {
    text-align: center;
}
.staff__desc {
    margin-bottom: 15px;
    color: #5e6085;
    font-family: Sora;
    font-size: 16px;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 45px;
}
.staff-item {
    text-align: center;
}
.staff-item__wrap-img {
    position: relative;
    margin: 0px 16px;
    /* width: 234px;
    height: 299px; */
    border-radius: 130px;
}
.staff-item__wrap-img::before {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 94%;
    z-index: -1;
    content: "";
    display: block;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    border-radius: inherit; /* Khoai */
}
.staff-item__wrap-img::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    content: "";
    width: calc(100% + 32px);
    height: 100%;
    /* width, height: 100% = .staff-item__wrap-img */
}
.staff-item:nth-child(1) .staff-item__wrap-img::after {
    background: url(../image/staff-decor-01.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    /* Không gộp chung được */
}
.staff-item:nth-child(even) .staff-item__wrap-img::after {
    /* bottom: auto;
    top: 10px; */
}
.staff-item:nth-child(2) .staff-item__wrap-img::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(2) .staff-item__wrap-img::after {
    background: url(../image/staff-decor-02.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.staff-item:nth-child(3) .staff-item__wrap-img::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(3) .staff-item__wrap-img::after {
    background: url(../image/staff-decor-03.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.staff-item:nth-child(4) .staff-item__wrap-img::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-item:nth-child(4) .staff-item__wrap-img::after {
    background: url(../image/staff-decor-04.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.staff-item__img {
    position: relative;
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    object-position: 10% 0%;
    border-radius: 130px;
}
.staff-item__title {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
}
.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
}

.staff__wrap-btn {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.staff__btn {
    min-width: 193px;
    color: var(--primary-color);
    border-color: currentColor;
}

/* Pricing */
.pricing {
    margin-top: 130px;
    padding: 86px 0px;
    background: #fff6ed;
}
.pricing__switch-wrap {
    display: flex;
    justify-content: center;
}
.pricing__switch-inner {
    position: relative;
}
.pricing__top {
    text-align: center;
    margin-bottom: 38px;
}
.pricing__desc {
    margin: 24px auto 0px;
    width: 710px;
}

.pricing__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 276px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 91, 0.6);
}
.pricing__label::before {
    position: absolute;
    left: 0px;
    top: 0px;
    /* z-index: -1; */
    content: "";
    display: block;
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background: var(--primary-color);
    transition: all 1s linear;
}
.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}
input:not(:checked) + .pricing__label .pricing__switch-value:nth-child(2) {
    color: var(--primary-color);
}
input:checked + .pricing__label::before {
    left: auto;
    right: 0px;
}
input:checked + .pricing__label .pricing__switch-value:nth-child(1) {
    color: var(--primary-color);
}
.pricing__sales-off {
    position: absolute;
    right: -110px;
    top: -10px;
}

/* pricing__list */
.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 44px;
    margin-top: 56px;
}
.pricing-item {
    /* width: 300px; */
    padding: 30px 28px;
    border-radius: 20px;
    background: #fff;
    /* box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42); */
}
.pricing-item__type {
    color: var(--primary-color);
    font-size: 1.2rem;
    line-height: 1;
}
.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1;
}
.pricing-item__btn {
    margin-top: 22px;
    min-width: 246px;
    --height: 44px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    border-color: rgba(255, 91, 46, 0.6);
}
.pricing-item__list {
    margin-top: 24px;
}
.pricing-item__item {
    display: flex;
    /* align-items: center; */
    column-gap: 12px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
}
.pricing-item__item::before {
    content: url(../icon/price-check.png);
}
.pricing-item__item + .pricing-item__item {
    margin-top: 18px;
}

/* Reviews */
.review {
    margin-top: 54px;
}
.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}
.review__control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    color: var(--primary-color);
    transition: background-color 0.5s linear, color 0.5s linear;
}
.review__control:hover {
    background: var(--primary-color);
    color: #fff;
}
.review__content {
    flex-grow: 1;
}
.review-item {
    display: flex;
    gap: 115px;
}
.review-item__media {
    position: relative;
    width: 274px;
    /* height: 427px; */
    /* margin-top: -52px; */
    border-radius: 137px;
    overflow: hidden;
}
/*** Không thêm được .review__img::after ***/
.review-item__media::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 82%;
    content: "";
    display: block;
    background: #ffda54;
    border-radius: inherit;
}
.review-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 427px;
    object-fit: cover;
    transform: scale(1.1);
    border-radius: inherit;

    /* width: 274px; 
    height: 427px; */
    /* border-radius: 137px; */
}
.review-item__content {
    margin-top: 113px;
}
.review-item__desc {
    margin-top: 24px;
    width: 555px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.56;
}
.review-item__author {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.review-item__author::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 999px;
}

.review__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 56px;
}
.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ff5b2e;
}
.review__dot--active {
    width: 24px;
    border-radius: 99px;
    background: #ff5b2e;
}

/* Blog */
.blog {
    margin-top: 130px;
}
.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog__desc {
    width: 350px;
}
.blog__btn {
    margin-top: 24px;
    min-width: 182px;
    border-color: rgba(255, 91, 46, 0.6);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.2);
}

.blog__list{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    margin-top: 54px;
}
.blog-item__wrap-img {
    width: 358px;
    height: 362px;
    padding: 24px 0px 0px 36px;
    border-radius: 24px;
    background: #90ccff;
}
.blog-item:nth-child(2) .blog-item__wrap-img{
    background: #FF997E;
}
.blog-item:nth-child(3) .blog-item__wrap-img{
    background: #5BD6E2;
}
.blog-item__time {
    display: block;
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    /* font-weight: 400; */
    line-height: 1.21; /* 121.429% */
}
.blog__wrap-img {
    margin-left: auto;
    margin-top: 25px;
    width: 322px;
    height: 296px;
    overflow: hidden;
}
.blog-item__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    scale: 1.5;
    object-fit: cover;
    object-position: 50px -50px;
}
.blog-item__title {
    margin-top: 28px;
    width: 338px;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.55;
}
.blog-item__desc {
    margin-top: 16px;
    width: 358px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71; 
}
